.card {
    min-height: 550px;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
    }
    p {
        padding-left: 16px;
        padding-right: 16px;
        color: rgba(0, 0, 0, 0.8);
        font-size: 20px;
    }
    button {
        width: 50%;
        position: absolute;
        bottom: 0;
        height: 32px;
        background-color: #fff;
        border: unset;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        cursor: pointer;

        &:first-child {
            left: 0;
        }
        &:last-child {
            right: 0;
            border-left: 1px solid rgba(0, 0, 0, 0.3);
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }

        mat-icons {
            font-size: 16px;
            padding-top: 4px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
    }
}